<form action="/submit" method="post">
    <input type="text" name="taskI" placeholder="text" id="taskI" class="input-label"> 
    <input type="submit" value="Add" class="input-submit">
</form>
<form action="/delete" method="post">
    <input type="text" name="taskId" placeholder="ID" id="taskId" class="input-label">
    <input type="submit" value="Delete" class="input-submit">
</form>